<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.liubaiblog.masterstudio.dao.mapper.HomeChartMapper">

    <resultMap id="BaseResultMap" type="top.liubaiblog.masterstudio.domain.po.HomeChart">
            <id property="hid" column="hid" jdbcType="BIGINT"/>
            <result property="image" column="image" jdbcType="VARCHAR"/>
            <result property="link" column="link" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        hid,image,link
    </sql>
</mapper>
